@media (min-width: 40rem) {
  .sidebar {
    margin-top: 64px !important;
  }

  .lock:after {
    content: 'Click to unlock this item';
    display: block;
  }
  .unlock:after {
    content: 'click to lock this item';
    display: block;
  }

  .menuItem {
    height: 50px;
    padding: 20px;
    background-color: rgba(175, 175, 175, 0.13);
  }
}
