<div *ngIf="this.deviceToolBarVisible" class="flex-row-container device-toolbar" id="device-toolbar">
    <button mat-button (click)="toggleViews('create')" class="action-button" style="border-radius: none">
      <i class="material-icons md-36 icon-color-light">
        add
      </i>
    </button>
    <button
      mat-button
      (click)="toggleViews('search')"
      class="action-button"
      style="background-color: #aa1550!important; border-left: #666; border-radius: none"
    >
      <i class="material-icons md-36 icon-color-light">
        search
      </i>
    </button>
  </div>
  <div class="device-search animation-fade-in" *ngIf="searchVisible">
    <div class="search sidebar-item">
      <div style="text-align: end; margin-top:20px">
        <button mat-icon-button (click)="toggleViews('default')">
          <mat-icon aria-label="hide search options">close</mat-icon>
        </button>
      </div>
    </div>

    <div class="search sidebar-item">
      <app-search (searchTerm)="onFilterByName($event)" class="col-width sidebar-item"></app-search>
    </div>
  </div>
  <div class="flex-row-container">
    <div class="sidebar" id="desktop-toolbar">
      <div class="flex-row">
        <button mat-button (click)="toggleViews('create')" class="action-button" style="border-radius: none">
          <i class="material-icons md-36 icon-color-light">
            add
          </i>
        </button>
        <button
          mat-button
          (click)="toggleViews('search')"
          class="action-button"
          style="background-color: #aa1550!important; border-left: #666; border-radius: none"
        >
          <i class="material-icons md-36 icon-color-light">
            search
          </i>
        </button>
      </div>
      <!-- search and select component -->

      <div
        style="height: auto!important ; margin: 2rem 0px; text-align: end"
        class="align-items-start"
        *ngIf="searchVisible"
        id="search-container"
      >
        <button mat-icon-button (click)="toggleViews('default')">
          <mat-icon aria-label="hide search options">close</mat-icon>
        </button>
      </div>
      <div *ngIf="searchVisible" style="height: auto!important; margin-top: 2rem">
        <app-search (searchTerm)="onFilterByName($event)" class="col-width"> </app-search>
      </div>
    </div>

    <!-- use ngClass here to avoid redraw  -->
    <div class="view view-margin-top">
      <app-list-menus
        [data]="this.menusData"
        [ngClass]="{ hidden: formVisible }"
        (selectItem)="onViewOrder($event)"
      ></app-list-menus>

      <!-- menu edit / create form -->
      <app-menu-details
        [mode]="formMode"
        *ngIf="formVisible"
        [selectedItem]="selectedItem"
        (notify)="onNotifyClicked($event)"
      ></app-menu-details>
    </div>
  </div>
