
<!--  [class.active]="toggleActive" (click)="toggleRightSidenav()" class="rightSidenav_toggle" -->
<mat-toolbar class="header-toolbar-items header">
  <div class="header__hamburger-menu" id="hamburgerMenu" >
      <div></div>
      <div></div>
      <div></div>
  </div>

  <div class="header__branding">Catering Manager</div>
  <div *ngIf='userIsAuthenticated' class="toolbar-item header__tool-bar-item">
    <a routerLink="list-menus" mat-button routerLinkActive="">
      <span class="header__tool-bar-link"> menus
      </span>
    </a>
  </div>
  <div *ngIf='userIsAuthenticated' class="toolbar-item header__tool-bar-button">
    <a (click)='onLogout()' class="fas fa-sign-out-alt" ></a>
  </div>
</mat-toolbar>
