<h2>Dish Details</h2>
<mat-list role="list" *ngIf="editMode === false">
  <mat-list-item>
    <h1 *ngIf="data">{{ data.name }}</h1>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h2>Description</h2>
  </mat-list-item>
  <mat-list-item role="listitem">
    {{ data.description }}
  </mat-list-item>
  <mat-list-item role="listitem">
    <h2>Portion Sizes</h2>
  </mat-list-item>
  <mat-list-item role="listitem">
    {{ data.portion_sizes }}
  </mat-list-item>
  <mat-list-item role="listitem">
    <h2>Course</h2>
  </mat-list-item>
  <mat-list-item role="listitem">
    {{ data.course }}
  </mat-list-item>
</mat-list>
<!-- <div *ngIf="editMode === true">
  <h2>Edit Form</h2>
  <button mat-button (click)="toggleEditMode()">Cancel</button>
</div> -->
