<div *ngIf="!editMode">
  <h2>Dish Details</h2>
  <form class="inner-margin">
    <div class="form-element">
      <label for="name"><h2>Dish Name</h2></label>
      <input type="text" name="name" value="{{ itemData.name }}" readonly />
    </div>
    <div class="form-element">
      <label for="description"><h2>Description</h2></label>
      <textarea name="description" value="{{ itemData.description }}" readonly>{{ itemData.description }}</textarea>
    </div>
    <div class="form-element">
      <label for="portion_sizes"><h2>Portion Sizes</h2> </label>
      <span> * use comma to separate options</span><br />
      <input type="text" name="description" value="{{ itemData.portion_sizes }}" readonly />
    </div>
    <div class="form-element">
      <label for="courses"><h2>Course</h2></label>
      <input type="text" name="course" value="{{ itemData.course }}" readonly />
    </div>
    <br />
  </form>
</div>

<div *ngIf="editMode" class="view">
  <h2>Dish Details - editing</h2>

  <form class="inner-margin">
    <div class="form-element">
      <label for="name"><h2>Dish Name</h2></label>
      <input type="text" name="name" value="{{ itemData.name }}" required />
    </div>
    <div class="form-element">
      <label for="description"><h2>Description</h2></label>
      <textarea name="description" value="{{ itemData.description }}" required>{{ itemData.description }}</textarea>
    </div>
    <div class="form-element">
      <label for="portion_sizes"><h2>Portion Sizes</h2> </label>
      <span> * use comma to separate options</span><br />
      <input type="text" name="description" value="{{ itemData.portion_sizes }}" required />
    </div>
    <div class="form-element">
      <label for="courses"><h2>Course</h2></label>
      <mat-select placeholder="course" name="courses" (selectionChange)="onSelectCourse($event.value)">
        <mat-option *ngFor="let course of courses" [value]="course">
          {{ course }}
        </mat-option>
      </mat-select>
    </div>
    <br />

    <div>
      <button mat-raised-button accent (click)="save(itemData)">save</button>
      <button mat-raised-button accent (click)="cancel()" style="margin-left: 10px">cancel</button>
    </div>
  </form>
</div>
