/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: 2rem;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px rgba(30, 30, 30, 0.9) inset;
}

.login-form {
  align-items: center;
  width: 90vw;
}

.user-icon,
.secure-icon {
  width: 38px;
  height: 38px;
  float: left;
  display: inline-block;
}

.user-icon {
  /* https://p.w3layouts.com/demos/may-2016/01-05-2016/square_login_form/web/images/m.png */
  background: url(https://p.w3layouts.com/demos/may-2016/01-05-2016/square_login_form/web/images/m.png) no-repeat 6px
    6px;
}

.secure-icon {
  background: url(https://p.w3layouts.com/demos/may-2016/01-05-2016/square_login_form/web/images/l.png) no-repeat 6px
    6px;
}

.custom-input {
  background: rgba(30, 30, 30, 0.9);
  margin-bottom: 1.5em;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 100%;
}

.mat-form-field,
input {
  background-color: transparent !important;
  outline: none;
  font-size: 2rem;
  font-weight: 400;
  color: #fff !important;
  padding: 10px 16px;
  border: none;
  border-left: 2px solid #fff;
  display: inline-block;
  margin-left: 7px;
}

button.mat-raised-button {
  width: 100%;
  padding: 10px;
  margin: 10 auto;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  background-color: var(--accent-color);
}

@media (min-width: 40rem) {
  .login-form {
    align-items: center;
    width: 33.3vw;
  }
}

.main__welcome-message {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main__welcome-message > * {
  margin: 10px;
}

@media (min-width: 51rem) {
  .main__welcome-message {
    background: url(/assets/images/leone-venter-VieM9BdZKFo-unsplash.jpg);
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
  }
}
