<!-- <mat-card class="matt-card"> -->
<mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
  <h1>Login</h1>
  <mat-form-field>
    <input
      type="email"
      name="email"
      class="transparent-background"
      ngModel
      matInput
      placeholder="Email"
      #emailInput="ngModel"
      required
      email
    />
    <mat-error *ngIf="emailInput.invalid">please enter a valid email</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required />
    <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" *ngIf="!isLoading">Login</button>
</form>
<!-- </mat-card> -->
