<!-- <mat-card class="matt-card"> -->

<form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading" class="login-form">
  <h1>LOGIN</h1>
  <div class="custom-input">
    <i class="user-icon"></i>

    <input type="email" name="email" ngModel placeholder="Email" #emailInput="ngModel" required email />
  </div>

  <div *ngIf="emailInput.invalid">please enter a valid email</div>
  <div class="custom-input">
    <i class="secure-icon"></i>
    <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required />
  </div>

  <div *ngIf="passwordInput.invalid">Please enter a valid password</div>

  <button mat-raised-button class="" type="submit" *ngIf="!isLoading">LOGIN</button>
</form>

<!-- <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
  <h1>Login</h1>
  <mat-form-field>
    <input
      type="email"
      name="email"
      class="transparent-background"
      ngModel
      matInput
      placeholder="Email"
      #emailInput="ngModel"
      required
      email
    />
    <mat-error *ngIf="emailInput.invalid">please enter a valid email</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required />
    <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" *ngIf="!isLoading">Login</button>
</form> -->
<!-- </mat-card> -->
