.search {
  width: 90%;
  margin: 0 auto;
}

.device-search {
  background-color: white;
  width: 100vw;
  padding-bottom: 40px;
  border: var(--border-color);
}

.mat-select {
  border: 1px solid #ccc !important;
}

.no-menus-message {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.no-menus-message__button,
.no-menus-message__details {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 70rem) {
  .device-toolbar,
  .device-search {
    display: none;
  }

  .sidebar-item {
    margin: 3rem 0;
  }

  .sidebar .mat-icon-button {
    color: var(--fc-light) !important;
  }

  .sidebar .mat-icon-button:hover {
    color: var(--accent-color) !important;
  }

  .margin-top {
    margin: 0 !important;
    margin-top: 3rem !important;
    margin-bottom: 0.5rem !important;
  }

  #search label > h2.margin-top:first-child {
    margin: 0 !important;
    margin-bottom: 0.5rem !important;
  }
}
