.toolbar * {
  margin-left: 10px;
}

h2::after {
  border: 1px solid black;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.form-element {
  margin: 20px 0;
  width: 100%;
}

input,
select,
textarea {
  height: 50px;
  padding: 20px;
}

input,
textarea,
select,
.mat-select,
.disabled {
  width: 100% !important;
  font-size: 1rem;
  color: black !important;
  border: 1px solid #ccc;
}

.select-qty {
  width: 100px !important;
}

textarea {
  height: auto;
}

input:disabled,
textarea:disabled,
.disabled {
  background-color: rgba(175, 175, 175, 0.13);
  color: black;
}

.mat-select-disabled .mat-select-value {
  color: black !important;
}

.enabled {
  background-color: white;
}
