.flex-row,
.branding {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 180px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  bottom: 0;
  padding-top: 92px;
}

.sidebar {
  display: none;
}

/* .view {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100vw;
  min-height: 90vh;
  color: var(--fc-light);
} */

.view {
  width: 100%;
}

.view .edit-tools {
  display: flex;
  justify-content: space-between;

  color: black;
}

.lock:before {
  position: relative;
  top: -5px;
  margin-bottom: -40px;
  content: 'Click to unlock this item';
  display: flex;
  align-items: flex-start;
  color: var(--fc-dark);
  margin-left: -160px;
}

.view .filter-event-date {
  height: 150px;
}

.main__content {
  color: black !important;
}

.flex-2Col-left {
  width: 50%;
}

.flex-2Col-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.flex-4col-left {
  width: 25%;
  padding-right: 10px;
}

.flex-4col-middle-left {
  width: 25%;
}

.flex-4col-middle-right {
  width: 25%;
}

.flex-4col-right {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  width: 25%;
}

.toolbar {
  position: fixed;
  margin-top: 64px;
  height: 64px;
  background-color: var(--row-header-background);
  border-bottom: 1px solid rgb(234, 252, 255);
}

.flex-container {
  width: 100vw;
  background-color: #e8f6f9;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.flex-container-33 {
  display: none;
}

.edit-tools {
  display: flex;
}

.flex-column-container-33,
.flex-column-container-66 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-row-container-align-left {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.flex-row-container-align-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

≈.full-width-row-container {
  display: flex;
  flex-flow: row;
  margin: 50px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* .flex-row-container {
  display: none;
} */

.flex-full-width-col-container {
  display: flex;
  flex-flow: column;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}

.align-left {
  justify-content: flex-start !important;
}

.align-center {
  justify-content: center !important;
}

.align-right {
  justify-content: flex-end !important;
}

.valign-center,
.col-align-center {
  align-items: center !important;
}

.align-space-between {
  justify-content: space-between !important;
}

.align-items-start,
.align-items-start .mat-list-item-content {
  align-items: flex-start !important;
}

.inner-margin {
  margin: 10px;
}

.row-style {
  padding: 10px;
  border-bottom: 1px solid rgba(130, 130, 130, 0.276);
}

.vspacer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.line_break {
  width: 100%;
  height: 1px;
  float: left;
  color: black;
  background-color: rgba(130, 130, 130, 0.276);
  border: none;
  margin: 54px 0;
}

.menuItem {
  padding: 20px;
  background-color: rgba(175, 175, 175, 0.13);
}

.dish-item {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  background-color: #d1e9f2;
}

.col-width {
  width: var(--device-width);
}

@media (min-width: 40rem) {
  .dish-item-description {
    width: 80%;
    color: var(--fc-mid);
  }

  .dish-item-qty {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }

  .full-width-row-container {
    display: flex;
    flex-flow: row;
    margin: 50px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .flex-row-container {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-height: 100%;
  }

  .flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .flex-container-33 {
    display: flex;
    justify-content: center;
  }

  .flex-column-container-33,
  .flex-container-33 {
    width: 400px;
  }

  .filter-select {
    width: 100%;
  }

  .flex-column-container-50 {
    display: flex;
    flex-flow: column;
    width: 50%;
  }

  .edit-tools {
    justify-content: flex-start;
    display: flex;
    /* padding-left: 45px; */
  }

  .compose > button {
    width: 100%;
  }

  .inner-margin {
    margin: var(--inner-margin-ipad);
  }

  .view {
    width: 100%;
  }
}

/* desktop / laptop */
@media (min-width: 70rem) {
  .sidebar {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 400px;
    height: 100vh;
    background-color: #2b2929;
  }

  .sidebar h2 {
    color: var(--fc-light);
  }

  .sidebar .search-container {
    display: flex;
    height: 50px;
    width: 100%;
  }

  .sidebar .search-input {
    height: 100%;
    width: 70%;
  }

  .sidebar .search-input input,
  .mat-input {
    padding-left: 25px;
    font-size: 1rem;
  }

  .sidebar .search-button {
    display: grid;
    place-items: center;
    width: 20% !important;
    height: 50px;
  }

  .sidebar > button,
  .sidebar > .mat-select {
    color: var(--fc-light) !important;
  }

  .sidebar .search-button i {
    margin-top: 5px;
  }

  .view {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }

  .view-margin-top {
    margin-top: 75px;
  }

  .view .form-element .event-date {
    display: flex;
    justify-content: flex-start;
  }

  .inner-margin {
    margin: var(--inner-margin-desktop);
  }

  .event-date .date-field {
    width: 100%;
    height: 200px;
    background-color: #d1e9f2;
    /* border: 1px solid white; */
    padding: 20px;
    margin: 5px 0;
    display: grid;
    place-items: center;
    color: var(--fc-mid);
  }

  .col-width {
    width: var(--desktop-width);
  }
}
