.overlay {
  visibility: visible;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.8);
}

/* mat-button */

.dialog-button {
  margin-right: 5px;
}

.mat-button {
  font-size: 18px !important  ;
  font-weight: 400;
}

.mat-raised-button h2 {
  color: white !important;
}

.mat-mini-fab {
  margin: 0 16px !important;
}

.mat-mini-fab.mat-accent,
.mat-raised-button {
  background-color: #c2185b !important;
}

.icon-color,
.mat-icon-button,
.mat-input-element {
  color: black;
}

.icon-color-light {
  color: white;
}

/* dialogs */
.mat-dialog-container {
  background: azure;
  color: #0a0a0a;
}

.mat-dialog-content {
  max-height: 70vh !important;
}

.md-36 {
  font-size: 36px;
}

/* .mat-radio-outer-circle {
  border-color: black !important ;
} */

.mat-stepper-horizontal,
.mat-stepper-vertical {
  margin-top: 32px;
  width: 100%;
  color: white;
}

.mat-horizontal-content-container > .mat-horizontal-stepper-content > div > div > h1 {
  justify-content: center;
  margin: 20px;
  color: white !important;
}

/* placeholder */
.mat-select-placeholder,
.mat-form-field-label {
  color: var(--placeholder-color) !important;
  margin-left: 10px;
}

/* mat-form-field */

.mat-form-field {
  color: inherit !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255, 255, 255, 0.7);
}

.mat-form-field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px !important;
  width: 300px;
  background-color: white;
}

.mat-form-field-infix {
  height: 80px;
  border-top: 20px solid transparent;
}

.mat-form-field-infix > input {
  height: auto;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 37% !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent !important;
  bottom: 0 !important;
}

.mat-form-field-flex {
  align-items: center !important;
}

.mat-form-field-underline {
  bottom: 1.34375em;
}

.mat-input-element {
  padding-left: 10px !important;
}

/* matt select */

.mat-select-trigger {
  height: 100%;
}

.mat-select-arrow-wrapper {
  padding-right: 10px;
}

.mat-select-arrow {
  color: inherit;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
}

.mat-select-content,
.mat-select-panel-done-animating {
  background: #c2185b;
}

.mat-select-value {
  color: black;
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
}

.mat-select-panel {
  color: black;
}

.mat-select {
  border: none !important;
}

/* snack bar */
::ng-deep snack-bar-container.dark-snackbar {
  background: #424242;
  color: white;
}

.mat-snack-bar-container.mat-snack-bar-center {
  margin-bottom: 20px !important;
}

/* stepper */
.stepper-actions {
  margin-top: 20px;
}

/* dialog */
.dialog-inner-margin {
  margin: 0 54px;
}

.dialog-input {
  padding: 5px;
  text-align: start;
  border: 1px solid rgb(202, 202, 202);
}

/* check boxes */
.mat-checkbox .mat-checkbox-frame {
  border-color: var(--accent-color) !important;
  background-color: white !important;
}
