.overlay {
  visibility: visible;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0.8);
}

.mat-button {
  font-size: 18px !important  ;
  font-weight: 400;
}

.mat-mini-fab {
  margin: 0 16px !important;
}
.mat-raised-button {
  background-color: #c2185b !important;
}

.mat-dialog-container {
  background: azure;
  color: #0a0a0a;
}

.icon-color-light {
  color: white;
}

.icon-color {
  color: black;
}

.md-36 {
  font-size: 36px;
}

.mat-dialog-content {
  max-height: 70vh !important;
}

.mat-snack-bar-container.mat-snack-bar-center {
  margin-bottom: 20px !important;
}
/* .mat-radio-outer-circle {
  border-color: black !important ;
} */

.mat-stepper-horizontal,
.mat-stepper-vertical {
  margin-top: 32px;
  width: 100%;
  color: white;
}

.mat-horizontal-content-container > .mat-horizontal-stepper-content > div > div > h1 {
  justify-content: center;
  margin: 20px;
  color: white !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}
.mat-form-field-wrapper {
  padding-bottom: 0px;
}
.mat-form-field-underline {
  bottom: 1.34375em;
}

/* matt select styles  */

.mat-select-placeholder {
  color: inherit !important;
}

.mat-select-trigger {
  height: 100%;
}

.mat-select-arrow {
  color: inherit;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
}

.mat-select-content,
.mat-select-panel-done-animating {
  background: #c2185b;
}

.mat-select-value {
  color: black;
  padding-top: 5px;
}

::ng-deep snack-bar-container.dark-snackbar {
  background: #424242;
  color: white;
}

.stepper-actions {
  margin-top: 20px;
}

.mat-select-panel {
  color: black;
}

.dialog-inner-margin {
  margin: 0 54px;
}

.dialog-input {
  padding: 5px;
  text-align: start;
  border: 1px solid rgb(202, 202, 202);
}

.dialog-button {
  margin-right: 5px;
}
