<!-- <div class="compose" *ngFor="let item of data; let i = index" [ngClass]="{ highlight: selectedIdx === i }">
  <button mat-button (click)="onItemSelect(item, i)">
    {{ item.name }}
  </button>
</div> -->
<div class="inner-margin">
  <h1>Dishes</h1>
  <div class="inner-margin" *ngIf="data.length > 0">
    <div class="flex-row-container row-style valign-center align-space-between ">
      <div>Dish Name</div>
    </div>
    <div
      class="flex-row-container row-style  valign-center align-space-between "
      *ngFor="let item of data; let i = index"
    >
      <div>{{ item.name }} :</div>
      <div>
        <button mat-button color="accent" (click)="onItemSelect(item, i)">view</button>
      </div>
    </div>
  </div>
</div>
