
mat-card{
  background-color: #272727;
}
h1,h2,h3,h4,h5{
  color: white;
}
label{
  color: goldenrod
}
.mat-form-field, input{
  width:100%;
  color:white;
}
.mat-raised-button,a{
  color: dodgerblue;
}

.mat-spinner{
  margin: auto;
}

a, span{
  color: dodgerblue;
}

input[type="file"]{
  visibility: hidden;
}

.image-preview{
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
