<div *ngIf="isLoading" class="import-spinner"><H2>Importing Now</H2><mat-spinner></mat-spinner></div>

<form [formGroup]="form" class="form-container" (submit)="onSubmit()" *ngIf="!isLoading">
  <h2>Import a new Order</h2>
  <p *ngIf="!showTick" style="text-align: center">Acceptable file types: <br /><strong> CSV files.</strong></p>
  <br /><br />
  <button mat-button type="button" color="accent" (click)="filePicker.click()">
    <span class="material-icons" style="font-size: 6rem; background-color: none">computer</span>
  </button>

  <div *ngIf="showTick"><ng-container *ngTemplateOutlet="greenTick"></ng-container></div>

  <input type="file" #filePicker (change)="onFilePicked($event)" style="display: none" />
  <br />
  {{ message }}
  <br />
  <br />
  <button
    mat-raised-button
    color="accent"
    type="submit"
    [ngClass]="{ hidden: this.disabledUpload }"
    [disabled]="this.disabledUpload"
  >
    upload
  </button>
</form>
