<button mat-raised-button color="accent" type="submit" (click)="this.navigateBack()">
  back
</button>

<div class="flex-column-container main__content">
  <div class="inner-margin">
    <div
      class="full-width-row-container"
      style="display:flex; justify-content: flex-start;align-items: center; margin-bottom: 54px "
    >
      <h1>Create Order</h1>
      <hr />
    </div>
    <div class="flex-row-container">
      <div class="flex-2Col-left title"><h2>Order Details:</h2></div>
      <div class="flex-2Col-right toolbar">
        <button class="dialog-button" mat-raised-button color="accent">
          save
        </button>
        <button class="dialog-button" mat-raised-button color="accent">
          cancel
        </button>
      </div>
    </div>

    <form class="inner-margin">
      <div class="form-element">
        <label for="orderNumber"><h2>Order Number</h2></label>
        <input type="text" name="orderNumber" value="123456" readonly disabled />
      </div>
      <div class="form-element">
        <label for="name"><h2>Name</h2></label>
        <input type="text" name="name" value="" />
      </div>
      <div class="form-element">
        <label for="email"><h2>Email</h2></label>
        <input type="email" name="email" value="" />
      </div>
      <div class="form-element">
        <label for="phone"><h2>Contact Number</h2></label>
        <input type="text" name="phone" value="" />
      </div>
      <br />
      <hr class="line_break" />
      [list of items]
    </form>
  </div>
</div>
