<section *ngIf="!userIsAuthenticated" class="main__welcome-message">
  <!-- <h1>Welcome</h1>
    <p>This project is an Angular 6 personal learning project centered around managing restaurant catering. This example loads <br>data from a mongodb database collection and displays a list of items.</p>
    <h2>Functionality</h2>
    <ul>
      <li>user authentication</li>
      <li>JWT token Authorization</li>
      <li>Load data from mongo db</li>
      <li>Select and upload images to server, saving image path as a property</li>
      <li>Save data back to the mongo db</li>
      <li>Displays data using material theme components</li>
      <li>Some initial css media queries added</li>
    </ul>
    <h2>Angular Dependencies</h2>
    <ul>
      <li><a href="https://www.npmjs.com/package/jsonwebtoken">jsonwebtoken</a>  for creating access tokens.</li>
      <li><a href="https://material.angular.io/">Angular Material</a> Material Design components for Angular</li>
      <li><a href="https://www.npmjs.com/package/multer">multer</a> Multer is a node.js middleware for handling multipart/form-data, which is primarily used for uploading files</li>
    </ul>
    <h2>JS Libraries</h2>
    <ul>
      <li><a href="https://www.npmjs.com/package/uuidv4">uuidv4</a>  for unique ids</li>
      <li><a href="https://momentjs.com/">moments.js</a> for timestamping</li>
    </ul> -->

  <h2>Testing Logins</h2>
  <p>U: test@test.com</p>
  <p>P: 1234</p>
  <app-login></app-login>
  <!-- <div routerLink="./auth/signup" class="auth-button">
      signup
    </div> -->
</section>
