.list-item {
  background-color: none;
  border-bottom: 0.5px solid #ccc;
}

.list-item,
.header-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px;
  width: 100%;
  background-color: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fc-dark) !important;
}
