<div class="header-item">
  <h2>Dish Name</h2>
  <!-- <div><button (click)="addClicked(item)">select</button></div> -->
  <div><mat-checkbox color="accent" (change)="toggleCheckBoxChecked()" id="">select all</mat-checkbox></div>
</div>
<div *ngFor="let item of injectedData; let i = index" class="list-item ">
  <div>{{ item.name }}</div>
  <!-- <div><button (click)="addClicked(item)">select</button></div> -->
  <div>
    <mat-checkbox
      color="accent"
      (change)="updateCheckboxChecked(i)"
      [checked]="this.checkBoxArr[i].checked"
    ></mat-checkbox>
  </div>
</div>
<button mat-raised-button (click)="onFinishClicked()" style=" width: 100%; padding: 20px;">
  <h2>DONE CHOOSING</h2>
</button>
