/* .sidebar {
  display: none;
} */

.hidden {
  display: none;
}
.visible {
  display: flex;
}
@media (min-width: 40rem) {
  .sidebar {
    margin-top: 64px !important;
  }

  /* .sidebar,
  .sidebar-item {
    justify-content: center;
    align-items: center;
    text-align: center;
  } */

  /* .list-component,
  .order-create-component {
    width: 80%;
  } */
  /* .flexContainer {
    width: 100vw;
    background-color: #e8f6f9;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
  }

  .flexContainer {
    flex-direction: row;
  } */
}

.sidebar h2,
.sidebar-item {
  margin: 3rem 0;
}
