/* material css overrides */

@import url('./assets/custom-styles/material-custom.css');
@import url('./assets/custom-styles/layout.css');
@import url('./assets/custom-styles/normalize.css');
@import url('./assets/custom-styles/forms.css');
@import url('./assets/custom-styles/messages.css');
@import url('./assets/custom-styles/annimations.css');
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --fc-light: white;
  --fc-dark: black;
  --fc-mid: grey;
  --inner-margin: 54px;
  --row-header-background: rgba(0, 238, 255, 0.14);
  --placeholder-color: var(--fc-mid);
  --accent-color: #c2185b;
}

::placeholder {
  color: var(--placeholder-color);
}

body {
  /* background:url(/assets/images/CBP-for-Commercial-Kitchens-slide.png) top/cover no-repeat border-box,
  rgb(43, 39, 39) top; */
  /* background-attachment: fixed; */
  /* background-color: #e8f6f9; */
  background: rgb(232, 246, 249);
  background: -moz-linear-gradient(213deg, rgba(232, 246, 249, 1) 0%, rgba(173, 225, 246, 0.7133228291316527) 100%);
  background: -webkit-linear-gradient(213deg, rgba(232, 246, 249, 1) 0%, rgba(173, 225, 246, 0.7133228291316527) 100%);
  background: linear-gradient(213deg, rgba(232, 246, 249, 1) 0%, rgba(173, 225, 246, 0.7133228291316527) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8f6f9",endColorstr="#ade1f6",GradientType=1);
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--fc-dark);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .open {
  display: block !important ;
} */

.button-style {
  background-color: #c2185b !important;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

button.action-button.mat-button {
  background-color: var(--accent-color);
}

git statush1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fc-dark);
}

.hidden {
  display: none;
}
.visible {
  display: flex;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.82) !important;
}

.accent {
  color: var(--accent-color);
}
