.main__content {
  color: black !important;
}

.flex-2Col-left {
  width: 50%;
}

.flex-2Col-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.flex-4col-left {
  width: 25%;
  padding-right: 10px;
}

.flex-4col-middle-left {
  width: 25%;
}

.flex-4col-middle-right {
  width: 25%;
}

.flex-4col-right {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  width: 25%;
}

.flex-modal-2Col-left {
  margin: 10px 0;
  width: 75%;
}

.flex-modal-2Col-right {
  margin: 10px 0;
  width: 25%;
}

.flex-row-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-height: 100%;
}

.flex-full-width {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.flex-full-width-col-container {
  display: flex;
  flex-flow: column;
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}

.dialog-inner-margin {
  margin: 0 54px;
}

.dialog-input {
  padding: 5px;
  text-align: start;
  border: 1px solid rgb(202, 202, 202);
}

.dialog-button {
  margin-right: 5px;
}

.inner-margin {
  margin: 10px;
}

.row-style {
  padding: 10px;
  border-bottom: 1px solid rgb(209, 210, 211);
}

.vspacer {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  color: black;
}

::ng-deep snack-bar-container.dark-snackbar {
  background: #424242;
  color: white;
}

.stepper-actions {
  margin-top: 20px;
}
@media (min-width: 40rem) {
  .inner-margin {
    margin: 54px;
  }
}
