<div class="flex-column-container main__content">
  <div class="inner_margin">
    <div class="flex-row-container">
      <div class="flex-2Col-left"><h1>Current orders</h1></div>
      <div class="flex-2Col-right">
        <button *ngIf="orders.length > 0" mat-raised-button (click)="showFiltersDialog()">create run sheet</button>
      </div>
    </div>
    <div class="inner_margin">
      <!-- <app-orders-filter *ngIf="showFilters" [filterDates]="filterDates"></app-orders-filter> -->
      <div *ngIf="orders.length > 0">
        <div class="flex-row-container row-style">
          <div class="flex-row-container">
            <div class="flex-4col-left">Order number</div>
            <div class="flex-4col-middle-left">Customer name</div>
            <div class="flex-4col-middle-right">Pick up day</div>
            <div class="flex-4col-right"></div>
          </div>
        </div>

        <div class="flex-row-container row-style" *ngFor="let order of orders; let i = index">
          <div class="flex-4col-left">{{ order.customerDetails.orderNum }} :</div>
          <div class="flex-4col-middle-left">{{ order.customerDetails.contactName }}</div>
          <div class="flex-4col-middle-right">{{ order.customerDetails.pickUpDay }}</div>
          <div class="flex-4col-right">
            <button mat-button (click)="deleteOrder(order._id)">delete</button>
            <button mat-button (click)="viewOrder(i)">view</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
