mat-select {
  margin: 20px auto;
  text-align: center;
  width: 50vw;
}

mat-list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.filter-select {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compose > button {
  width: 100vw;
}

button {
  font-size: 1rem;
}

.lock:before {
  position: relative;
  top: -5px;
  margin-bottom: -40px;
  content: 'Click to unlock this item';
  display: flex;
  align-items: flex-start;
  color: var(--fc-dark);
  margin-left: -190px;
}

.col-width {
  width: var(--device-width);
}

@media (min-width: 70rem) {
  .col-width {
    width: var(--desktop-width);
  }

  .device-toolbar,
  .device-search {
    display: none;
  }

  .view .edit-tools {
    display: flex;
    justify-content: space-between;
    color: black;
  }

  .sidebar-item {
    margin: 3rem 0;
  }

  .sidebar .mat-icon-button {
    color: var(--fc-light) !important;
  }

  .sidebar .mat-icon-button:hover {
    color: var(--accent-color) !important;
  }

  .edit-tools {
    justify-content: flex-start;
  }

  .compose > button {
    width: 100%;
  }

  .inner-margin {
    margin: 54px;
  }
}
