<div class="flex-row-container">
  <div class="flex-container-33 row-header">
    <mat-select placeholder="filter by course" (selectionChange)="onSelectCourse($event.value)">
      <mat-option *ngFor="let course of courses" [value]="course">
        {{ course }}
      </mat-option>
    </mat-select>
    <!-- <button mat-button>
      <i class="material-icons">
        add
      </i>
    </button> -->
  </div>
  <div class="flex-container-66 row-header edit-tools">
    <button mat-button (click)="toggleEditMode()" [disabled]="this.disableEditTools" title="edit this item">
      <i class="material-icons">
        edit
      </i>
    </button>

    <button mat-button [disabled]="this.disableEditTools" title="delete this item">
      <i class="material-icons">
        delete
      </i>
    </button>
    <button mat-button [disabled]="this.disableEditTools" title="clone item">
      <i class="material-icons">
        file_copy
      </i>
    </button>
  </div>
</div>
<div class="flex-row-container">
  <div class="flex-column-container-33">
    <div class="flex-item compose">
      <button mat-button (click)="onAddDishClicked()">
        <i class="material-icons">
          add
        </i>
      </button>
    </div>
    <app-dishes-list [data]="dishes" (selectItem)="onItemSelect($event)"></app-dishes-list>
  </div>
  <div id="dish-edit" class="flex-column-container-66" *ngIf="selectedItem !== null">
    <div class="inner-margin">
      <div *ngIf="selectedItem !== null" class="flex-item">
        <app-dish-details-edit
          [data]="selectedItem"
          [editMode]="editMode"
          (cancelEdit)="toggleEditMode($event)"
          (update)="saveDish($event)"
        ></app-dish-details-edit>
      </div>
    </div>
  </div>

  <div id="dish-create" class="flex-column-container-66" *ngIf="mode === create">
    <div class="inner-margin">
      <div *ngIf="createMode" class="flex-item">
        <app-dish-create></app-dish-create>
      </div>
    </div>
  </div>
</div>
